<!DOCTYPE html>
<html>
    <head>
        <title>Питы  Москвы</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
            <header>
                <h1>Добро пожаловать в Питы Москвы</h1>
                <nav>
                        <li><a class="linki" href="mine">Главная</a></li>
                        <li><a class="linki" href="topi">топ гонщики</a></li>
                        <li><a class="linki" href="piti">лучшие питы</a></li>
                        <li><a class="linki" href="login">Вход</a></li>
                </nav>
                <hr>
            </header>
            <div class="main">
            <div class="hh">
            <h1>На данном сайте вы сможете ознакомиться с топовыми гонщиками,</h1> 
            <h2>узнать их историю и посмотреть одни из лучших питбайков у нас в стране</h2>
            </div>
            <div class="text">
                Здесь вы найдете все, что нужно знать о питбайках - компактных, мощных и маневренных мотоциклах, 
                предназначенных для кросс-кантри езды и экстремальных приключений. 
                У нас вы сможете узнать о различных моделях питбайков, выбрать подходящий для вас, 
                узнать о правилах безопасности и основах техники управления. 
                Мы также предлагаем широкий выбор запчастей, аксессуаров и экипировки для питбайков, 
                чтобы помочь вам поддерживать ваше оборудование в отличном состоянии.
                Питбайки - это отличный способ насладиться адреналином и природой, 
                испытать свои навыки и насладиться красотой окружающих пейзажей. 
                Присоединяйтесь к нашему сообществу и окунитесь в захватывающий мир питбайков вместе с нами!"
            </div>
            <hr>
<footer>
    <p>© 2024 Питы Москвы. Все права защищены.</p>
</footer>
        </div>
    </body>
</html>