<!DOCTYPE html>
<html>
    <head>
        <title>Питы  Москвы</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='piti.css') }}">
    </head>
    <body>
        <header>
            <h1>Топ лучших питбайков</h1>
            <nav>
                    <li><a class="linki" href="mine">Главная</a></li>
                    <li><a class="linki" href="topi">топ гонщики</a></li>
                    <li><a class="linki" href="piti">лучшие питы</a></li>
                    <li><a class="linki" href="login">Вход</a></li>
            </nav>
            <hr>
        </header>
            <div class="topi">
            <p class="top1">
                <div class="name1">Honda CRF450R</div><img class="foto1" src="/static/image/pit1.jpg">
                Honda CRF450R: Этот питбайк известен своей мощной 450-кубовой четырехтактной двигательной установкой, 
                которая обеспечивает выдающуюся мощность и крутящий момент.
                Он также имеет отличную подвеску и хорошо сбалансированную раму, 
                что делает его одним из наиболее популярных питбайков среди профессиональных гонщиков.
            </p>
            <p class="top2">
                <div class="name2">KTM 450 SX-F</div><img class="foto1" src="/static/image/pit2.jpg">
                KTM 450 SX-F: КТМ известен своей передовой технологией и выдающейся производительностью. 
                Модель 450 SX-F оснащена легкой рамой из сплава, 
                передовой подвеской и высокоэффективным двигателем, 
                что делает её одним из лучших питбайков в своем классе.
            </p>
            <p class="top3">
                <div class="name3">Yamaha YZ250F</div><img class="foto1" src="/static/image/pit3.jpg">
                Yamaha YZ250F: В то время как большинство питбайков имеют 450-кубовые двигатели,
                 Yamaha YZ250F отличается своим 250-кубовым четырехтактным двигателем, 
                 который обеспечивает выдающуюся производительность в легком и маневренном пакете.
            </p>
            <p class="top4">
                <div class="name4">Suzuki RM-Z450</div><img class="foto1" src="/static/image/pit4.jpg">
                Suzuki RM-Z450: Suzuki RM-Z450 имеет репутацию надежного и мощного питбайка.
                 Его 450-кубовый двигатель, отличная подвеска и балансированная геометрия рамы
                  делают его привлекательным выбором для гоночных любителей.
            </p>
            </div>
            <hr>
            <footer>
                <p>© 2024 Питы Москвы. Все права защищены.</p>
            </footer>
            </body>
</html>