<!DOCTYPE html>
<html>
    <head>
        <title>Питы  Москвы</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='main.css') }}">
    </head>
    <body>
        <header>
            <h1>лучшие гонщики за последние 10 лет</h1>
            <nav>
                    <li><a class="linki" href="mine">Главная</a></li>
                    <li><a class="linki" href="topi">топ гонщики</a></li>
                    <li><a class="linki" href="piti">лучшие питы</a></li>
                    <li><a class="linki" href="login">Вход</a></li>
            </nav>
            <hr>
        </header>
            <div class="topi">
            <p class="top1">
                <div class="name1">Льюис Хэмилтон</div>
                Льюис Хэмилтон - британский гонщик, родившийся 7 января 1985 года. 
                Он стал одним из самых успешных гонщиков в Формуле-1 за последние 10 лет. 
                В 2019 году он выиграл свой шестой титул чемпиона мира, 
                став вторым по количеству титулов после Михаэля Шумахера. 
                Хэмилтон также известен своей активной позицией в общественных делах, 
                поддерживая социальные и экологические инициативы.
            </p>
            <p class="top2">
                <div class="name2">Себастьян Феттель</div>
               Себастьян Феттель - немецкий гонщик, родившийся 3 июля 1987 года. 
               Он доминировал в Формуле-1 в начале 2010-х годов,
                выиграв четыре чемпионских титула подряд с 2010 по 2013 год. 
                Феттель известен своим техническим мастерством и интеллектуальным подходом к гонкам.
            </p>
            <p class="top3">
                <div class="name3">Макс Ферстаппен</div>
                Макс Ферстаппен - голландский гонщик, родившийся 30 сентября 1997 года. 
                Он считается одним из самых талантливых молодых гонщиков в Формуле-1. 
                Возглавляя команду Red Bull Racing,
                Ферстаппен выигрывал гран-при и показывал впечатляющие результаты на трассе.
            </p>
            <hr>
            <footer>
                <p>© 2024 Питы Москвы. Все права защищены.</p>
            </footer>
            

        </div>
            </body>
            </html>